<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>

    <main data-v-7e561e25="" class="main">
        <header data-v-09c44b03="" data-v-7e561e25="" id="header" class="header">
            <div data-v-09c44b03="" class="header__wrapper">
                <div data-v-09c44b03="" class="container">
                    <nav data-v-09c44b03="" class="header__inner">
                        <div data-v-09c44b03="" class="header__nav"><a data-v-09c44b03="" href="#"><svg
                                    data-v-09c44b03="" xmlns="http://www.w3.org/2000/svg"
                                    class="header__logo svg-icon icon-icon_logo_school"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_logo_school"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a></div>
                        <div data-v-09c44b03="" class="lessons_btn"><span data-v-09c44b03=""
                                class="lessons_btn__text">Darslar</span><svg data-v-09c44b03=""
                                xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-icon_filter_arrow"><!---->
                                <use xlink:href="/img/icons.303cccd8.svg#icon_filter_arrow"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg></div>
                        <div data-v-09c44b03="" class="tests_btn" style=""> Testlar </div>
                        <div data-v-09c44b03="" class="header__center_input" style=""></div>
                        <div data-v-09c44b03="" class="user_cabinet not_touch_device"><span data-v-09c44b03=""
                                class="user_cabinet__text" style="font-weight: bold;"> Shaxsiy kabinet</span>
                            <div data-v-09c44b03="" class="nav_right__link user_profile active"><svg data-v-09c44b03=""
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="nav_right__profile svg-icon icon-icon_profile"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_profile"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <div data-v-09c44b03="" class="user_profile__list_wrapper">
                                    <div data-v-09c44b03="" class="user_profile__list"><span data-v-09c44b03=""
                                            class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_link_profile_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_link_profile_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Profil</span></span><span data-v-09c44b03=""
                                            class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_my_lessons_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_my_lessons_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Mening darslarim</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_tests_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_tests_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Mening testlarim</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_chat_with_mentor_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_chat_with_mentor_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">O'qituvchilar bilan suhbat</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_payment_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_payment_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">To'lov tafsilotlari</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-smart_subscribe_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#smart_subscribe_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Smart obuna</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_referal_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_referal_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Referal tizimi</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_parent_control"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_parent_control"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Ota-ona nazorati</span></span><span
                                            data-v-09c44b03="" class="user_profile__link"><svg data-v-09c44b03=""
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="svg-icon icon-icon_logout_school"><!---->
                                                <use xlink:href="/img/icons.303cccd8.svg#icon_logout_school"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg><span data-v-09c44b03="">Сhiqish</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div data-v-09c44b03="" class="nav_right__link language" style=""><span
                                data-v-09c44b03="">UZB</span>
                            <div data-v-09c44b03="" class="language__list_wrapper">
                                <div data-v-09c44b03="" class="language__list"><span data-v-09c44b03=""
                                        class="language__link"> РУС</span><span data-v-09c44b03=""
                                        class="language__link selected"> UZB</span><span data-v-09c44b03=""
                                        class="language__link"> УЗБ</span></div>
                            </div><svg data-v-09c44b03="" xmlns="http://www.w3.org/2000/svg"
                                class="language__arrow svg-icon icon-icon_filter_arrow"><!---->
                                <use xlink:href="/img/icons.303cccd8.svg#icon_filter_arrow"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </div>
                        <div data-v-09c44b03="" class="nav_burger__wrapper">
                            <div data-v-09c44b03="" class="nav_burger"></div>
                        </div>
                    </nav>
                </div>
                <div data-v-09c44b03="" class="drop_header"><!----></div>
            </div>
        </header>
        <div data-v-0d6d7ca2="" data-v-7e561e25="" class="content">
            <div data-v-4be3ffe8="" data-v-0d6d7ca2="" class="breadcrumbs_color">
                <div data-v-4be3ffe8="" class="container">
                    <div data-v-4be3ffe8="" id="bread" class="breadcrumbs">
                        <div data-v-4be3ffe8="" class="breadcrmubs_link">
                            <div data-v-4be3ffe8="" class="item"> Uyga </div><svg data-v-4be3ffe8=""
                                xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-next_arrow_bread"><!---->
                                <use xlink:href="/img/icons.303cccd8.svg#next_arrow_bread"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </div>
                        <div data-v-4be3ffe8="" class="breadcrmubs_link">
                            <div data-v-4be3ffe8="" class="item"> Biz haqimizda </div><!---->
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-10d16418="" data-v-0d6d7ca2="" class="about_us_page_wrapper">
                <div data-v-10d16418="" class="container">
                    <div data-v-10d16418="" class="about_us__row">
                        <div data-v-10d16418="" class="about_us__column">
                            <h4 data-v-101cb0ea="" data-v-10d16418="" class="title title--3"><span
                                    style="color: #EC5239">Bizning vazifamiz</span> - O‘zbekistonda hamma uchun yangi
                                onlayn ta’lim standartini yaratishdir</h4>
                            <div data-v-be475712="" data-v-10d16418=""
                                class="button_wrapper auth_form__sign_in_btn popular"><button data-v-be475712=""
                                    type="button" icon-name=""
                                    class="primary-btn primary-btn--orange primary-btn--popular"><!---->Qoʻshiling
                                    <!----></button></div>
                        </div>
                        <div data-v-10d16418="" class="about_us__column">
                            <div data-v-10d16418="" class="gradient"><img data-v-10d16418=""
                                    src="/images/school/about_us_head.png" width="433" height="433" alt=""><img
                                    data-v-10d16418="" src="/img/about_us_head_circles.50ff1f5b.png" alt=""
                                    class="gradient__circles"></div>
                        </div>
                    </div>
                </div>
                <div data-v-10d16418="" class="course_wrapper">
                    <div data-v-10d16418="" class="container">
                        <div data-v-10d16418="" class="course top_block">
                            <div data-v-10d16418="" class="course__column course__left"><img data-v-10d16418=""
                                    src="/images/school/about_us_course.png" alt=""></div>
                            <h4 data-v-101cb0ea="" data-v-10d16418="" class="title title--3">Barcha yoshdagilar uchun
                                moslashtirilgan o'quv resursi</h4>
                            <div data-v-10d16418="" class="course__text">ILM online platformasi o‘quvchilar har qanday
                                joyda va istalgan vaqtda samarali bilim olish imkonini beradi. Shuningdek
                                foydalanuvchilarga amaliy mashqlar, oʻquv video darslar va shaxsiy ta'lim paneli taklif
                                etiladi.</div>
                            <div data-v-10d16418="" class="course__text second_part">Biz <span style="color: #EC5239">
                                    Tabiiy fanlar, aniq fanlar, gumanitar fanlar va innovatsion darslar taklif
                                    qilmaiz.</span> Biz talabalarga keyinchalik ular o'rganishlari uchun chegara
                                bo'lmasligi va sifatli ta'lim olishda mustahkam poydevor bo'lishga harakat qilamiz!<p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-10d16418="" class="instruments_wrapper">
                    <div data-v-10d16418="" class="container">
                        <div data-v-10d16418="" class="instruments">
                            <div data-v-10d16418="" class="instruments__row">
                                <div data-v-10d16418="" class="instruments__column block_info">
                                    <h4 data-v-101cb0ea="" data-v-10d16418="" class="title title--3">Ota-onalar va
                                        o'qituvchilar uchun <span style="color: #EC5239">bepul</span> vositalar</h4>
                                    <div data-v-10d16418="" class="instruments__text">
                                        <p>ILM onlineda barcha toifadagi o‘qituvchilar o‘z o‘quvchilari nima bilan
                                            shug‘ullanayotganini va ularga qanday yordam berishni yaxshiroq
                                            tushunishlari uchun ko‘p ishlaydilar. Bir qarashda o‘quvchini qay darajada
                                            qiynalayotganini yoki sinfdan ancha oldinda ekanligini ko‘ra oladi.</p> <br>
                                        <p>Bizning “O‘qituvchi boshqaruv paneli” har bir talabaning muvaffaqiyati haqida
                                            qisqacha ma’lumot beradi, shuningdek, o‘quvchining batafsil profilini ham
                                            taqdim etadi.</p>
                                    </div>
                                </div>
                                <div data-v-10d16418="" class="instruments__column"><img data-v-10d16418=""
                                        src="/images/school/about_us_instruments.png" alt="" class="instruements__img">
                                </div>
                            </div>
                            <div data-v-10d16418="" class="instruments__column joining">
                                <div data-v-10d16418="" class="instruments__joining_wrapper">
                                    <div data-v-10d16418="" class="instruments__joining">
                                        <h4 data-v-101cb0ea="" data-v-10d16418="" class="title title--3">Siz global
                                            sinfga qo'shilasiz</h4>
                                        <div data-v-10d16418="" class="instruments_joining__text">
                                            <p data-v-10d16418=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-10d16418="" class="businnes_wrapper">
                    <div data-v-10d16418="" class="container">
                        <div data-v-10d16418="" class="course businnes">
                            <div data-v-10d16418="" class="businnes__img course__column"><img data-v-10d16418=""
                                    src="/images/school/about_us_command.png" alt=""></div>
                            <h4 data-v-101cb0ea="" data-v-10d16418="" class="title businnes__title title--3"> Dastlab
                                kichik bir jamoa, keyinroq esa jahon darajasidagi kompaniya qadar</h4>
                            <div data-v-10d16418="" class="businnes__text"><span style="color: #EC5239">Biz ko'p qirrali
                                    jamoamiz</span> jasur vazifani bajarish uchun birlashganmiz, maqsadimiz -
                                O'zbekistonda hamma uchun onlayn ta'limning yangi standartini yaratish.</div>
                            <div data-v-10d16418="" class="businnes__text_second"> Biz dasturchilar, o'qituvchilar,
                                dizaynerlar, strateglar, olimlar va dunyoni o'rganishda ilhomlantirishga chinakam
                                ishonadigan kontent bo'yicha mutaxassislarmiz. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer data-v-7789243a="" data-v-7e561e25="" class="footer">
            <div data-v-7789243a="" class="container">
                <div data-v-7789243a="" class="footer__container">
                    <div data-v-7789243a="" class="footer__content">
                        <div data-v-7789243a="" class="footer__item"><svg data-v-7789243a=""
                                xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-icon_logo_school"><!---->
                                <use xlink:href="/img/icons.303cccd8.svg#icon_logo_school"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg></div>
                        <div data-v-7789243a="" class="footer__item">
                            <div data-v-7789243a="" class="item__col">
                                <div data-v-7789243a="" class="item__title"><span data-v-7789243a="">Foydalanuvchi
                                        maqomi</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Boshlangʻich
                                        daraja</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">O'rta daraja</span>
                                </div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Yuqori daraja</span>
                                </div><!---->
                            </div>
                        </div>
                        <div data-v-7789243a="" class="footer__item">
                            <div data-v-7789243a="" class="item__col">
                                <div data-v-7789243a="" class="item__title"><span data-v-7789243a="">ILM</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Biz haqimizda</span>
                                </div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Testlar</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Bo'sh ish
                                        o'rinlari</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Yangiliklar</span>
                                </div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Ta'lim</span></div>
                                <div data-v-c901e800="" data-v-7789243a="" class="mode_switcher"><span
                                        data-v-c901e800="" class="mode_switcher__title">Maktab o'quvchilari uchun
                                        darslar</span>
                                    <div data-v-c901e800="" class="mode_switcher__box"><input data-v-c901e800=""
                                            id="mode-switcher" type="checkbox" class="mode_switcher__input"><label
                                            data-v-c901e800="" for="mode-switcher" class="mode_switcher__label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-7789243a="" class="footer__item">
                            <div data-v-7789243a="" class="item__col">
                                <div data-v-7789243a="" class="item__title"><span data-v-7789243a="">Navigatsiya</span>
                                </div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Maxfiylik
                                        siyosati</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Shartnoma
                                        taklifi</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Shaxsiy
                                        kabinet</span></div>
                                <div data-v-7789243a="" class="item__link"><span data-v-7789243a="">Qayta aloqa</span>
                                </div><!---->
                            </div>
                        </div>
                    </div>
                    <div data-v-7789243a="" class="footer__company">
                        <div data-v-7789243a="" class="footer__company_logos"><a data-v-7789243a=""
                                href="https://t.me/ilmonlineuz"><svg data-v-7789243a=""
                                    xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-telegram"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#telegram"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a><a data-v-7789243a=""
                                href="https://www.facebook.com/ILM-Online-111096658108195"><svg data-v-7789243a=""
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon icon-icon_facebook_footer"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_facebook_footer"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a><a data-v-7789243a="" href="https://www.instagram.com/ilmonline.uz/"><svg
                                    data-v-7789243a="" xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon icon-icon_insta_footer"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_insta_footer"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a><a data-v-7789243a=""
                                href="https://www.youtube.com/channel/UCeIjF63A_mc_4MGPCMlK7PQ"><svg data-v-7789243a=""
                                    xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-icon_youtube_footer"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_youtube_footer"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a><a data-v-7789243a="" href="tiktok.com"><svg data-v-7789243a=""
                                    xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-icon_tiktok_footer"><!---->
                                    <use xlink:href="/img/icons.303cccd8.svg#icon_tiktok_footer"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

</body>

</html>