<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>

    <div id="app" class="school-courses">
        <div>
            <div role="dialog" class="v-dialog__container"></div>
            <main class="main">
                <header id="header" class="header">
                    <div class="header__wrapper">
                        <div class="container">
                            <nav class="header__inner">
                                <div class="header__nav">
                                    <a href="../index.html"><img src="../images/imgs/logo/logo_header.png" alt=""></a>
                                </div>
                                <div class="lessons_btn"><span class="lessons_btn__text">Darslar</span>
                                    <img src="../assets/icons/icon_filter_arrow.svg" alt="">
                                </div>
                                <div class="tests_btn"> Testlar </div>
                                <div class="header__center_input"></div>
                                <div class="user_cabinet not_touch_device"><a href="../profile/signIn.html" class="user_cabinet__text"
                                        style="font-weight: bold;"> Shaxsiy kabinet</a>
                                    <div class="nav_right__link user_profile active">
                                        <img src="../assets/icons/icon_profile.svg" alt="">
                                        <div class="user_profile__list_wrapper">
                                            <div class="user_profile__list">
                                                <a href="../profile/profile.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_link_profile_school.svg" alt="">
                                                    <span>Profil</span>
                                                </a>
                                                <a href="../profile/myLessons.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_my_lessons_school.svg" alt="">
                                                    <span>Mening darslarim</span>
                                                </a>
                                                <a href="../profile/tests.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_tests_school.svg" alt="">
                                                    <span>Mening testlarim</span>
                                                </a>
                                                <a href="../profile/chat.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_chat_with_mentor_school.svg" alt="">
                                                    <span>O'qituvchilar bilan suhbat</span>
                                                </a>
                                                <a href="../profile/payment.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_payment_school.svg" alt="">
                                                    <span>To'lov tafsilotlari</span>
                                                </a>
                                                <a href="../profile/smartSubscribe.html" class="user_profile__link">
                                                    <img src="../assets/icons/smart_subscribe_school.svg" alt="">
                                                    <span>Smart obuna</span>
                                                </a>
                                                <a href="../profile/referal.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_referal_school.svg">
                                                    <span>Referal tizimi</span>
                                                </a>
                                                <a href="../profile/parentControl.html" class="user_profile__link">
                                                    <img src="../assets/icons/icon_parent_control.svg">
                                                    <span>Ota-ona nazorati</span>
                                                </a>
                                                <a href="#" class="user_profile__link">
                                                    <img src="../assets/icons/icon_logout_school.svg" alt="">
                                                    <span>Сhiqish</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav_right__link language"><span>UZB</span>
                                    <div class="language__list_wrapper">
                                        <div class="language__list">
                                            <span class="language__link"> РУС</span><span
                                                class="language__link selected"></span>
                                            UZB</span><span class="language__link">
                                                УЗБ</span>
                                        </div>
                                    </div>
                                    <img src="../assets/icons/icon_filter_arrow.svg" alt="">
                                </div>
                                <div class="nav_burger__wrapper">
                                    <div class="nav_burger"></div>
                                </div>
                            </nav>
                        </div>
                        <div class="drop_header">
                            <div class="container mainMenu" style="display: none;">
                                <div class="drop_header_main small_screen">
                                    <div class="drop_header__wrapper active">
                                        <div class="drop__item navigation">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: block;">
                                                    <span>Navigatsiya</span>
                                                </div>
                                                <a href="../index.html" class="drop__link">
                                                    <span>Uy</span>
                                                </a>
                                                <a href="./about.html" class="drop__link">
                                                    <span>Biz haqimizda</span>
                                                </a>
                                                <a href="./vacancies.html" class="drop__link">
                                                    <span>Bo'sh ish
                                                        o'rinlari</span>
                                                </a>
                                                <a href="./news.html" class="drop__link">
                                                    <span>Yangiliklar</span>
                                                </a>
                                                <a href="./courses.html" class="drop__link">
                                                    <span>Darslar</span>
                                                </a>
                                                <a href="./tests.html" class="drop__link">
                                                    <span>Testlar</span>
                                                </a>
                                                <a href="./education.html" class="drop__link">
                                                    <span>Ta'lim</span>
                                                </a>
                                                <div class="mode_switcher">
                                                    <span class="mode_switcher__title">Maktab o'quvchilari uchun
                                                        darslar</span>
                                                    <div class="mode_switcher__box">
                                                        <input id="mode-switcher" type="checkbox"
                                                            class="mode_switcher__input">
                                                        <label for="mode-switcher" class="mode_switcher__label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item categories burger_categories">
                                            <div class="drop__content">
                                                <a href="./courses.html" class="drop__title burger_title"
                                                    style="display: block;">
                                                    <span>Yo'nalish</span>
                                                </a>
                                                <a href="./courses.html" class="drop__link">
                                                    <span> Dasturlash kurslari</span>
                                                </a>
                                                <a href="./courses.html" class="drop__link">
                                                    <span> Chet tillari </span>
                                                </a>
                                                <a href="./courses.html" class="drop__link">
                                                    <span> Abituriyentlar uchun</span>
                                                </a>
                                                <a href="./courses.html" class="drop__link">
                                                    <span> Bonus darslar </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="drop__item ilm">
                                            <div class="drop__content">
                                                <a href="#" class="drop__title burger_title" style="display: block;">
                                                    <span>ILM</span>
                                                </a>
                                                <a href="./policy.html" class="drop__link">
                                                    <span>Maxfiylik siyosati</span>
                                                </a>
                                                <a href="./agreement.html" class="drop__link">
                                                    <span>Shartnoma taklifi</span>
                                                </a>
                                                <a href="../index.html#feedback" class="drop__link">
                                                    <span>Qayta aloqa</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="drop__item cabinet_login">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title"><span>Shaxsiy kabinet</span></div>
                                                <a href="../profile/profile.html" class="drop__link"> Profil </a>
                                                <a href="../profile/myLessons.html" class="drop__link"> Mening darslarim </a>
                                                <a href="../profile/tests.html" class="drop__link"> Mening testlarim </a>
                                                <a href="../profile/chat.html" class="drop__link"> O'qituvchilar bilan suhbat </a>
                                                <a href="../profile/payment.html" class="drop__link"> To'lov tafsilotlari </a>
                                                <a href="../profile/smartSubscribe.html" class="drop__link"> Smart obuna </a>
                                                <a href="../profile/referal.html" class="drop__link"> Referal tizimi </a>
                                                <a href="../profile/parentControl.html" class="drop__link"> Ota-ona nazorati </a>
                                                <a href="#" class="drop__link log_line">
                                                    <img src="../assets/icons/icon_logout_school.svg" alt=""> Сhiqish
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- main responsive -->
                            <div class="container mainResMenu" style="display: none;">
                                <div class="drop_header_main small_screen">
                                    <div class="drop_header__wrapper active">
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_link_profile_school.svg"
                                                        alt=""><span>Profil</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_my_lessons_school.svg"
                                                        alt=""><span>Mening
                                                        darslarim</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_tests_school.svg" alt=""><span>Mening
                                                        testlarim</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_chat_with_mentor_school.svg"
                                                        alt=""><span>O'qituvchilar bilan suhbat</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_payment_school.svg"
                                                        alt=""><span>To'lov
                                                        tafsilotlari</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/smart_subscribe_school.svg"
                                                        alt=""><span>Smart
                                                        obuna</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_referal_school.svg"
                                                        alt=""><span>Referal
                                                        tizimi</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_parent_control.svg"
                                                        alt=""><span>Ota-ona
                                                        nazorati</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item opened_user_list last_drop_item">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title" style="display: none;">
                                                    <span>header.undefined.school</span>
                                                </div>
                                                <div class="drop__link">
                                                    <img src="../assets/icons/icon_logout_school.svg"
                                                        alt=""><span>Сhiqish</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="drop__item cabinet_login" style="display: none;">
                                            <div class="drop__content">
                                                <div class="drop__title burger_title"><span>Shaxsiy kabinet</span></div>
                                                <a href="../profile/profile.html" class="drop__link"> Profil </a>
                                                <a href="../profile/myLessons.html" class="drop__link"> Mening darslarim</a>
                                                <a href="../profile/tests.html" class="drop__link"> Mening testlarim</a>
                                                <a href="../profile/chat.html" class="drop__link"> O'qituvchilar bilan suhbat </a>
                                                <a href="../profile/payment.html" class="drop__link"> To'lov tafsilotlari</a>
                                                <a href="../profile/smartSubscribe.html" class="drop__link"> Smart obuna </a>
                                                <a href="../profile/referal.html" class="drop__link"> Referal tizimi </a>
                                                <a href="../profile/parentControl.html" class="drop__link"> Ota-ona nazorati</a>
                                                <a href="#" class="drop__link log_line">
                                                    <img src="../assets/icons/icon_logout_school.svg" alt=""> Сhiqish
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- darslar -->
                            <div class="container lessonsMenu" style="display: none;">
                                <div class="drop_header_main small_screen">
                                    <div class="drop_header__wrapper active opened_сourses">
                                        <div class="drop__item levels">
                                            <div class="drop__content">
                                                <div class="drop__title level" style="display: block;">
                                                    <span>Daraja</span>
                                                </div>
                                                <a href="#" class="drop__link"><span>Boshlangʻich daraja</span></a>
                                                <a href="#" class="drop__link"><span>O'rta daraja</span></a>
                                                <a href="#" class="drop__link"><span>Yuqori daraja</span></a>
                                            </div>
                                        </div>
                                        <div class="drop__item categories courses_categories">
                                            <div class="drop__content">
                                                <div class="drop__title categories" style="display: block;">
                                                    <span>Yo'nalish</span>
                                                </div>
                                                <a href="#" class="drop__link">
                                                    <span> Dasturlash kurslari </span>
                                                </a>
                                                <a href="#" class="drop__link">
                                                    <span> Chet tillari </span>
                                                </a>
                                                <a href="#" class="drop__link">
                                                    <span> Abituriyentlar uchun </span>
                                                </a>
                                                <a href="#" class="drop__link">
                                                    <span> Bonus darslar </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="drop__item prices">
                                            <div class="drop__content">
                                                <div class="drop__title price" style="display: block;">
                                                    <span>Narxi</span>
                                                </div>
                                                <a href="#" class="drop__link"><span>Bepul</span></a>
                                                <a href="#" class="drop__link"><span>Pullik</span></a>
                                            </div>
                                        </div>
                                        <div class="drop__item languages">
                                            <div class="drop__content">
                                                <div class="drop__title lang" style="display: block;">
                                                    <span>Tillar</span>
                                                </div>
                                                <a href="#" class="drop__link"><span>Rus</span></a>
                                                <a href="#" class="drop__link"><span>O'zbek</span></a>
                                            </div>
                                        </div>
                                        <div class="drop_btn__wrapper">
                                            <div class="button_wrapper popular">
                                                <a href="./courses.html" type="button" icon-name=""
                                                    class="primary-btn primary-btn--orange primary-btn--popular">
                                                    Hamma darslar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>



                <div class="content">
                    <div class="breadcrumbs_color white">
                        <div class="container">
                            <div id="bread" class="breadcrumbs">
                                <div class="breadcrmubs_link">
                                    <div class="item"> Uyga </div>
                                    <img src="../assets/icons/next_arrow_bread.svg" alt="">
                                </div>
                                <div class="breadcrmubs_link">
                                    <div class="item"> Bilimlar bazasi </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div class="container">
                            <div class="header_content">
                                <div class="main_education__title">
                                    <h4 class="title card_education__title title--2"> Bilimlar bazasi </h4>
                                    <h4 class="title card_education__subtitle title--2"> Ko'p so'raladigan savollar
                                    </h4>
                                </div><img src="../img/bg-img-education.png" alt="bg" class="education__bg_img">
                            </div>
                        </div>
                        <<div class="main_content">
                            <div class="container">
                                <div class="content_container questions_search" is-search-results="true">
                                    <div class="input-search input-search__form"><label class="input-search__wrapper">
                                            <img src="../assets/icons/icon_search.svg" alt=""><input id="input-search"
                                                placeholder="Qidirmoq" autocomplete="off"
                                                class="input-search__list active"></label>
                                    </div>
                                </div>
                                <div <div class="categories__list">
                                    <div class="categories__list_item"><img
                                            src="../images/not-found-img.png">
                                        <div class="text-content">
                                            <h4 class="title">Sayt bilan ishlash bo'yicha
                                                bilimlar bazasi</h4>
                                            <p class="description">Maktabimizning asosiy
                                                o'qituvchilaridan foydali tanlov</p>
                                        </div>
                                    </div>
                                    <div class="categories__list_item"><img
                                            src="../images/not-found-img.png">
                                        <div class="text-content">
                                            <h4 class="title">Обучение компьютерной грамотности
                                            </h4>
                                            <p class="description">Владение минимальным набором
                                                знаний и навыков работы на компьютере</p>
                                        </div>
                                    </div>
                                    <div class="categories__list_item"><img
                                            src="../images/not-found-img.png">
                                        <div class="text-content">
                                            <h4 class="title">Как создавать сайты</h4>
                                            <p class="description">Узнайте, как сделать сайт
                                                бесплатно и настроить его. Пошаговая инструкция</p>
                                        </div>
                                    </div>
                                    <div class="categories__list_item"><img
                                            src="../images/not-found-img.png">
                                        <div class="text-content">
                                            <h4 class="title">Как писать тексты</h4>
                                            <p class="description">Пошаговый алгоритм, который
                                                поможет написать хорошо любой текст.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    </div>



    <footer class="footer">
        <div class="container">
            <div class="footer__container">
                <div class="footer__content">
                    <div class="footer__item">
                        <img src="../images/imgs/logo/logo_footer.png" alt="">
                    </div>
                    <div class="footer__item">
                        <div class="item__col">
                            <div class="item__title"><span>Foydalanuvchi maqomi</span></div>
                            <div class="item__link"><span>Boshlangʻich
                                    daraja</span></div>
                            <div class="item__link"><span>O'rta
                                    daraja</span></div>
                            <div class="item__link"><span>Yuqori
                                    daraja</span></div>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="item__col">
                            <div class="item__title"><span>ILM</span>
                            </div>
                            <div class="item__link"><span>Biz
                                    haqimizda</span></div>
                            <div class="item__link"><span>Testlar</span></div>
                            <div class="item__link"><span>Bo'sh ish
                                    o'rinlari</span></div>
                            <div class="item__link"><span>Yangiliklar</span></div>
                            <div class="item__link"><span>Ta'lim</span></div>
                            <div class="mode_switcher"><span class="mode_switcher__title">Maktab
                                    o'quvchilari
                                    uchun darslar</span>
                                <div class="mode_switcher__box"><input id="mode-switcher" type="checkbox"
                                        class="mode_switcher__input"><label for="mode-switcher"
                                        class="mode_switcher__label"></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="item__col">
                            <div class="item__title">
                                Navigatsiya
                            </div>
                            <div class="item__link">
                                Maxfiylik siyosati
                            </div>
                            <div class="item__link">
                                Shartnoma taklifi
                            </div>
                            <div class="item__link">
                                Shaxsiy kabinet
                            </div>
                            <div class="item__link">
                                Qayta aloqa
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__company">
                    <div class="footer__company_logos">
                        <a href="#">
                            <img src="../assets/icons/icon_telegram.svg" alt="">
                        </a>
                        <a href="https://www.facebook.com">
                            <img src="../assets/icons/facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../assets/icons/icon_insta_footer.svg" alt="">
                        </a>
                        <a href="https://www.youtube.com">
                            <img src="../assets/icons/icon_youtube_footer.svg" alt="">
                        </a>
                        <a href="tiktok.com">
                            <img src="../assets/icons/icon_tiktok_footer.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </main>
    </div>
    </div>

    <script src="../script.js"></script>

</body>

</html>